<div class="container" id="nameOpportunity">
        <div class="row">
          <div class="col-md-12">
              <ul>
            <h2 class="headers">Name of Opportunity</h2>
            
            <h2 class="headers">Description of Posting</h2>
            
            <h2 class="headers">Posted by: Name of gallery</h2>
        </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label for="name">Form</label>
                <input type="input" class="form-control" id="name" placeholder="text input">
                <label for="category">  Category</label>
          <select class="form-control" id="category">
            <option>$$$</option>
            <option>$$$</option>
            <option>$$$</option>
          </select>
              </div>
             
              <div class="form-group">
                <label for="category">  link to images</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
              </div>
              
              <button class="btn btn-light" id="submitOpportunity">Submit</button>
            </form>
          </div>
        </div>
      </div>