<div class="container main">
    <div class="row">
        <div class="col-md-7">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="headers">My Collections</h2>
                        <hr />
                    </div>
                </div>
                {{#unless collections}}
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="bold">There are no opportunities available at this time!</h2>
                    </div>
                </div>
                {{/unless}} {{#each collections}} {{> collections/collection-block}} {{/each}}
            </div>
        </div>
        <div class="col-md-5" id="addCollectionForm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="headers">Add a Collection</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <label for="collectionName">Collection Name</label>
                                <input type="email" class="form-control" id="collectionName" placeholder="Enter the name of your collection">
                            </div>
                            <div class="form-group">
                                <label for="collectionDescription">Description</label>
                                <textarea class="form-control" id="collectionDescription" rows="3" placeholder="Describe your series"></textarea>
                            </div>
                            <button type="submit" class="btn btn-light" id="submitCollection">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="headers">Add an Item to a Collection</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <label for="itemName">Item Name</label>
                                <input name="name" type="text" class="form-control" id="itemName" placeholder="Enter the name of your collection">
                            </div>
                            <div class="form-group">
                                <label for="itemDescription">Description</label>
                                <textarea name="description" class="form-control" id="itemDescription" rows="3" placeholder="Describe your series"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">Image URL</label>
                                <input name="imageUrl" type="url" class="form-control" id="imageUrl" placeholder="Please submit a link to an image of this item">
                            </div>
                            <div class="form-group">
                                <label for="category">Which Collection does this Item belong to?</label>
                                <select class="form-control" id="collection-select">
                                    <option>Please select a collection</option>
                                    {{#each collections}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-light" id="submitItem">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/collections.js"></script>