<div class="container" id="main">

  <div class="row">
    <div class="col-md-8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="headers">Opportunities</h2>
          </div>
        </div>

        {{#each opportunities}} 
        {{> opportunities/opportunity-block}} 
        {{/each}} 
        {{#unless opportunities}}
        <div class="row">
          <div class="col-md-12">
            <h2 class="bold">There are no opportunities available at this time!</h2>
          </div>
        </div>
        {{/unless}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card upcoming">
              <div class="card-header">
                <h3 class="thin" style="font-size: 1.4rem">Upcoming Opportunities</h3>
              </div>
              <div class="card-body">
                <div class="upcoming-box"></div>
                <div class="upcoming-box"></div>
                <div class="upcoming-box"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="recent-galleries">
                <div class="card-header">
                  <h3 class="thin" style="font-size: 1.4rem">Recent Galleries</h3>
                </div>
                <div class="card-body">
                  <div class="upcoming-box"></div>
                  <div class="upcoming-box"></div>
                  <div class="upcoming-box"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="login">
              <!-- form card login -->
              <div class="card" id="login-card">
                <div class="card-header">
                  <h3 class="thin">Login</h3>
                </div>
                <div class="card-body">
                  <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                    <div class="form-group">
                      <label for="uname1">Username</label>
                      <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
                      <div class="invalid-feedback">Oops, you missed this one.</div>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                      <div class="invalid-feedback">Enter your password too!</div>
                    </div>
                    <button type="submit" class="btn btn-light btn-lg float-right" id="btnLogin">Login</button>
                  </form>
                </div>
                <!--/card-block-->
              </div>
              <!-- /form card login -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  $('#formLogin').on('submit', function(ev) {
    ev.preventDefault()

    let data = {
      email: $('#uname1').val().trim(),
      password: $('#pwd1').val()
    }

    $.ajax({
      method: 'post',
      url: '/signin',
      data: data
    }).then(response => {
      location.assign('/')
    })
  })
</script>