<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card login-form">
                <div class="card-header">
                    <p class="bold text-center">BRANDING HERE</p>
                </div>
                <div class="card-body">
                    <form action="/register" method="post">
                        <h2 class="text-center headers">Register</h2>
                        <div class="form-group">
                            <input type="text" class="form-control thin" placeholder="Name" required="required" id="registerName" name="name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control thin" placeholder="Email" required="required" id="registerEmail" name="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control thin" id="userBio" rows="3" placeholder="Bio (optional)" name="bio"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control thin" placeholder="Password" required="required" id="registerPassword" name="password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-light btn-block bold" id="register">Register</button>
                        </div>
                        {{!--
                        <div class="clearfix">
                            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                            <a href="#" class="pull-right">Forgot Password?</a>
                        </div> --}}
                    </form>
                </div>
                <div class="card-footer">
                    <p class="text-center bold" style="font-size: 1.05rem"><a href="/login">Already a member? Login!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>