<form action="/signup" method="post">
    <input type="text" name="name" id="name-input" placeholder="Name">
    <input type="email" name="email" id="email-input" placeholder="email@example.com">
    <input type="password" name="password" id="password-input">
    <textarea name="bio" id="bio-ipnut" cols="30" rows="10">bio...</textarea>
    <input type="submit" value="Sign Up">
</form>