<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="bold">{Collection from DB}</h2>
            </div>
            <div class="card-body">
                {Collection description from DB}
            </div>
        </div>
    </div>
</div>