<div class="card">
    <div class="card-header">
        <h2 class="bold">{Opportunity from DB}</h2>
    </div>
    <div class="card-body">
        {Opportunity description from DB}
    </div>
    <div class="card-footer text-muted">
        Posted by: {Admin from DB} **JOIN**
    </div>
</div>