<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="bold">{{name}}</h2>
            </div>
            <div class="card-body">
                {{description}}
            </div>
            <div class="card-footer text-muted">
                Posted by: {{User.name}}
            </div>
        </div>
    </div>
</div>