.list-group-item {
  line-height: 2.5;
}

.logo {
  margin: 15px;
}

.thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  vertical-align: middle;
  margin: 0px;
}

.regular {
  font-weight: 350;
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  vertical-align: middle;
  margin: 0px;
}

h2 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.headers {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.main {
  margin: 25px auto;
  width: 100%;
}

.opportunity-spacer {
  max-width: 100%;
  background-color: grey;
  margin: 20px 0px 20px 0px;
}

#sidebar {
  border-left: 1px solid #f2f2f2;
}

#btnLogin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  font-size: 1.5rem;
}

/* .upcoming,
.recent-galleries {
  border: 1px solid black;
} */

.card {
  margin: 25px 0px 25px 0px;
}

.upcoming-box {
  height: 50px;
  max-width: 100%;
  margin: 20px;
  background-color: lightgrey;
}

.navbar-brand {
  width: 100%;
}

#navbarNav {
  vertical-align: middle;
  height: 100%;
}

.spacer {
  height: 200px;
}

#addOpportunity {
  margin: 25px;
}

form {
  margin: 25px 0px 25px 0px;
}

.btn-light {
  font-weight: 700!Important;
}

/* Sign up // Register */

.login-form {
  width: 50%;
  margin: 50px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f2f2f2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

/* Highlight */

.highlight {
  background: url("/img/brush-stroke-banner-1-yellow.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
}
#logout {
  margin-left: 10px;
}
#logout:hover {
  color: red;
}